<a class="card" href="<%= url %>">
    <img class="card-image" src="<%= image %>">
    <div class="card-title"><h3><%= title %></h3></div>
    <div class="card-desc"><p><%- description -%></p></div>
</a>