<div id="info">
    <div id="me">
        <div id="hd-top">
            <div id="hd-photo"><a href="/"><img src="/images/logoEsKa.png" alt="Photo de EsKa"></a></div>
            <h2>Mr. EsKa</h2>
            <h3>Etudiant en informatique</h3>
        </div>
        <div id="hd-plus" style="height: 100%">
            <a class="slot bg-slot-green" href="/tutoriels">Tutoriel</a>
            <a class="slot bg-slot-red" href="/developpement-jv">Développement JV</a>
            <a class="slot bg-slot-blue" href="/analyse-jv">Analyse JV</a>
            <a class="slot bg-slot-orange" href="/mes-creations">Mes Créations</a>
        </div>
        <div id="hd-footer">
            <p><a target="_blank" href="https://twitter.com/SirStevenK">Twitter</a> | <a target="_blank" href="https://www.kongregate.com/accounts/IndieBaie">Kongregate</a></p>
        </div>
    </div>
</div>