<div id="info">
    <div id="me">
        <div class="top">
            <div id="img-photo"><a href="index.html"><img src="/images/logoEsKa.png" alt="Photo de EsKa"></a></div>
            <h2>Mr. EsKa</h2>
            <h3>Etudiant en informatique</h3>
        </div>
        <div class="plus" style="height: 100%">
            <p class="slot bg-slot-green">Tutoriel</p>
            <p class="slot bg-slot-red">Développement JV</p>
            <p class="slot bg-slot-blue">Programmation</p>
            <p class="slot bg-slot-orange">Mes Créations</p>
        </div>
        <div class="footer">
            <p>Twitter | Kongregate</p>
        </div>
    </div>
</div>