<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Le site de Mr. EsKa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/header.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/index.css" />
        <script src="/javascripts/main.js"></script>
    </head>
    <body>
        <section id="main">
            <%- include ../partials/header -%>
            <div id="content">
                <a class="card" href="/articles/fzza">
                    <img class="card-image" src="/images/phaser.jpg">
                    <div class="card-title"><h3>Initiation à Phaser 3</h3></div>
                    <div class="card-desc"><p>Vous voulez créer un jeu vidéo mais vous ne savez pas quel moteur utiliser ?</p><p>Nous vous avons fait un guide d'iniatiation à Phaser 3</p></div>
                </a>
            </div>
        </section>
    </body>
</html>