* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#login
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f1f2f6;
    border: 3px solid #2f3542;
    border-radius: 30px;
    height: 480px;
    width: 600px;
    padding: 15px;
}

.button-input
{
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
    border: 3px solid;
    border-radius: 10px;
    font-family: Acme;
    outline-width: 0;
}

.bg-bi-green
{
    background: #78e08f;
    border-color: #b8e994;
    border-bottom-color: #38ada9;
}

.text-input
{
    margin-bottom: 20px;
}

.text-input label
{
    display: block;
    font-size: 20px;
    font-family: Acme;
    margin-bottom: 5px;
}

.text-input input[type="text"],.text-input input[type="password"]
{
    outline-width: 0;
    font-size: 24px;
    padding: 10px 20px;
    border: 1px solid #BBB;
    border-radius: 20px;
    font-family: Oswald;
}