* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #17c0eb;
    background: #ffcccc;
    background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));

}

#main {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}

#article {
    flex: 1 0 300px;
    margin: 50px 0;
    background: #c8d6e5;
    border-radius: 30px;
    border: 4px solid black;
    box-shadow: 10px 10px 3px #00000042;
}

#main-image
{
    width: 100%;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    object-fit: contain;
}

#article .top h1
{
    margin-top: 18px;
    font-family: Permanent Marker;
    text-align: center;
}

#article .contenu
{
    padding: 30px;
}

#article .contenu p
{
    font-family: Acme;
}

#menu {
    display: none;
}

@media only screen and (max-width : 1024px) {
    #info
    {
        flex: 0 1 450px;
        padding: 30px 15px 0 15px;
    }

    #me
    {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1024px) and (max-width : 1496px) {
    #info
    {
        flex: 0 1 450px;
        padding: 30px 0px 0 0px;
    }

    #me
    {
        margin: 0 auto;
    }
}

@media only screen and (max-width : 1024px) {
    #article 
    {
        order: 1;
    }

    #info
    {
        order: 2;
        padding: 50px 0px;
        margin: 0 auto;
    }

    #article {
        /* border: 1px solid black; */
        flex: 1 0 100%;
        margin: 50px 0 0px 0px;
        background: #c8d6e5;
        border-radius: 30px;
        border: 4px solid black;
    }    

}