* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#info {
    flex: 0 0 400px;
    padding: 90px 30px 0 20px;
}

#me {
    background: #786fa6;
    background: #1F2833BB;
    border: 1px solid black;
    height: 600px;
    max-width: 350px;
    width: 100%;
    box-shadow: 10px 10px 3px #00000042;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-align: center;
    align-self: flex-start;
    position: sticky;
    top: 90px;
}

#hd-top, #hd-plus {
    border-bottom: 1px solid black;
}

#me>div {
    padding: 9px 10px;
}

#hd-top h2 {
    font-family: Acme;
    font-size: 30px;
    margin-bottom: 10px;
}

#hd-top h3 {
    font-family: Acme;
    font-size: 18px;
}

#hd-photo {
    margin: 0 auto 10px auto;
}

#hd-photo img {
    border-radius: 50%;
}

#hd-plus
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hd-plus .slot
{
    width: 180px;
    font-size: 20px;
    color: aliceblue;
}


#hd-footer {
    flex: 0 0 48px;
}

#hd-footer p {
    font-family: Acme;
    font-size: 22px;
}

#hd-footer a {
    text-decoration: none;
    color: aliceblue;
    font-family: Acme;
}