* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
body {
    background: #17c0eb;
    background: #ffcccc;
    background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#content {
    flex: 1 0 600px;
    padding-top: 80px;
    max-width: 1388px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#menu {
    display: none;
}

@media only screen and (max-width : 768px) {
    #info
    {
        flex: 1 1 100%;
        padding: 30px 15px 0 15px;
    }

    #me
    {
        margin: 0 auto;
    }

    .card {
        height: 280px;
        flex: 1 1 400px;
    }    

    #content
    {
        flex: auto;
        padding: 50px 10px 30px 10px;
    }
}

@media only screen and (min-width: 480px) and (max-width : 768px) {
    #content
    {
        flex: auto;
        padding: 50px 20px 30px 20px;
    }

    .card {
        height: 350px;
    }
}

@media only screen and (min-width: 768px) and (max-width : 1024px) {
    #info
    {
        flex: 1 1 100%;
        padding: 30px 15px 0 15px;
    }

    #me
    {
        margin: 0 auto;
    }

    .card {
        height: 280px;
        flex: 1 0 350px;
        margin: 9px;
    }    

    #content
    {
        flex: auto;
        padding: 50px 15px 30px 15px;
    }
}

@media only screen and (min-width: 1024px) and (max-width : 1496px) {
    #info
    {
        padding: 30px 0px 0 0px;
    }

    #me
    {
        margin: 0 auto;
    }

    .card {
        height: 350px;
        flex: 1 0 550px;
        margin-bottom: 45px;
    }    

    #content
    {
        flex: 1 1 500px;
        padding: 50px 10px 30px 10px;
    }
}

@media only screen and (min-width: 1496px) {
    .card {
        height: 350px;
        flex: 1 0 500px;
        max-width: 600px;
        margin: 0 10px 45px 10px;
    }    
}