* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#login
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f1f2f6;
    border: 3px solid #2f3542;
    border-radius: 30px;
    height: 480px;
    width: 600px;
    padding: 15px;
}