* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a 
{
    text-decoration: none;
}

body
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#overview
{
    position: fixed;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #f1f2f6;
    border: 3px solid #2f3542;
    border-radius: 30px;
    min-height: 600px;
    width: 1300px;
    padding: 15px 15px 45px 15px;
    z-index: 300;
}

#ov-top
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    align-self: center;
}

#ov-top input[type="text"]
{
    margin: 0 auto;
    width: 600px;
    outline-width: 0;
    font-size: 24px;
    padding: 10px 20px;
    border: 1px solid #BBB;
    border-radius: 20px;
    font-family: Oswald;
}

#ov-mid img
{
    max-width: 1200px;
    max-height: 500px;
    object-fit: contain;
}

#main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f2f6;
    border: 3px solid #2f3542;
    border-radius: 30px;
    min-height: 600px;
    width: 1300px;
    padding: 15px 15px 45px 15px;
}

#main-top
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    align-items: center;
}

#print-articles
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
}

.slot-image
{
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
}


.slot
{
    margin: 0 auto;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px 0;
    width: 280px;
    font-family: Acme;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.slot:hover
{
    cursor: pointer;
}

.bg-slot-green
{
    background: #0be881;
    border-color: #05c46b!important;
}

.bg-slot-red
{
    background: #ff5e57;
    border-color: #ff3f34!important;
}

.bg-slot-blue
{
    background: #4bcffa;
    border-color: #0fbcf9!important;
}

.bg-slot-orange
{
    background: #ffc048;
    border-color: #ffa801!important;
}

.button-input:hover
{
    cursor: pointer;
}

.button-input
{
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
    border: 3px solid;
    border-radius: 10px;
    font-family: Acme;
    outline-width: 0;
}

.bg-bi-green
{
    background: #78e08f;
    border-color: #b8e994;
    border-bottom-color: #38ada9;
}

.bg-bi-blue
{
    background: #4a69bd;
    border-color: #6a89cc;
    border-bottom-color: #1e3799;
}

.bg-bi-orange
{
    background: #f6b93b;
    border-color: #fad390;
    border-bottom-color: #fa983a;
}

.article-element
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.card {
    background: black;
    border: 1px solid black;
    height: 400px;
    margin-bottom: 25px;
    flex: 0 0 400px;
    max-width: 600px;
    box-shadow: 10px 10px 3px #00000042;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: "image . ." ". . ." "title . .";
}

.card-image {
    width: 100%;
    height: 100%;
    grid-area: image;
    grid-column: 1/4;
    grid-row: 1/4;
    opacity: 0.9;
    z-index: 1;
}

.card:hover 
{
    grid-template-rows: 1fr 4fr;
}

.card:hover > .card-title
{
    grid-row: 1;
}

.card:hover > .card-title h3::after
{
    transition: all 2s; 
    width: 100%;
}

.card:hover > .card-desc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}

.card-title {
    padding-top: 10px;
    background: #444444DD;
    background: #34495eDD;
    color: aliceblue;
    text-align: center;
    grid-area: title;
    z-index: 3;
    grid-column: 1/4;
    height: 100%;
    display: flex;
}

.card-title h3
{
    margin: auto;
    font-family: Acme;
    font-size: 24px;
}

.card-title h3::after
{
    content: "";
    display: block;
    width: 50px;
    height: 6px;
    z-index: 3;
    background: #d35400;
    background: #2c3e50;
    margin: 8px auto 0 auto;
    border-radius: 10px;
    transition: all 2s;
}

.card-desc
{
    display: none;
    grid-row: 2/4;
    grid-column: 1/4;
    z-index: 3;
    background: #2c3e50DD;
    color: aliceblue;
}

.card-desc p
{
    font-family: Acme;
    font-size: 18px;
}